/*#root {*/
/*    width: 100%;*/
/*}*/

/*#plot {*/
/*    width: 100%;*/
/*}*/

.js-plotly-plot {
    width: 100%;
}

.control label {
    display: block;
    margin: 0;
}

.date-controls {
    margin-bottom: 0.8em;
}

.date-range-button {
    margin-right: 1em;
}
