aiobotocore==2.0.1
boto3==1.19.8
botocore==1.22.8
click
dash
dash-bootstrap-components
dask[dataframe]
gunicorn
kaleido
lxml
pandas==1.3.5
plotly
python-dateutil
pyarrow==6.0.1
s3fs==2021.11.1
sqlalchemy
#jedi==0.17.2
#utz>=0.3.17
