aiobotocore==2.15.2
awscli
boto3==1.35.36
botocore==1.35.36
click==8.1.7
dvc-s3
fsspec==2024.9.0
geopy==2.4.1
graphviz==0.20.3
gzip-stream==1.2.0
html_dsl==0.5.0
kaleido==0.2.1
lxml==5.3.0
numpy==2.1.2
pandas==2.2.3
plotly==5.24.1
pyarrow==17.0.0
python-dateutil==2.9.0.post0
s3fs==2024.9.0
SQLAlchemy==2.0.36
utz>=0.11.2
