/ymdse_cd_201306.parquet
/ymdse_cd_201307.parquet
/ymdse_cd_201308.parquet
/ymdse_cd_201309.parquet
/ymdse_cd_201310.parquet
/ymdse_cd_201311.parquet
/ymdse_cd_201312.parquet
/ymdse_cd_201401.parquet
/ymdse_cd_201402.parquet
/ymdse_cd_201403.parquet
/ymdse_cd_201404.parquet
/ymdse_cd_201405.parquet
/ymdse_cd_201406.parquet
/ymdse_cd_201407.parquet
/ymdse_cd_201408.parquet
/ymdse_cd_201409.parquet
/ymdse_cd_201410.parquet
/ymdse_cd_201411.parquet
/ymdse_cd_201412.parquet
/ymdse_cd_201501.parquet
/ymdse_cd_201502.parquet
/ymdse_cd_201503.parquet
/ymdse_cd_201504.parquet
/ymdse_cd_201505.parquet
/ymdse_cd_201506.parquet
/ymdse_cd_201507.parquet
/ymdse_cd_201508.parquet
/ymdse_cd_201509.parquet
/ymdse_cd_201510.parquet
/ymdse_cd_201511.parquet
/ymdse_cd_201512.parquet
/ymdse_cd_201601.parquet
/ymdse_cd_201602.parquet
/ymdse_cd_201603.parquet
/ymdse_cd_201604.parquet
/ymdse_cd_201605.parquet
/ymdse_cd_201606.parquet
/ymdse_cd_201607.parquet
/ymdse_cd_201608.parquet
/ymdse_cd_201609.parquet
/ymdse_cd_201610.parquet
/ymdse_cd_201611.parquet
/ymdse_cd_201612.parquet
/ymdse_cd_201701.parquet
/ymdse_cd_201702.parquet
/ymdse_cd_201703.parquet
/ymdse_cd_201704.parquet
/ymdse_cd_201705.parquet
/ymdse_cd_201706.parquet
/ymdse_cd_201707.parquet
/ymdse_cd_201708.parquet
/ymdse_cd_201709.parquet
/ymdse_cd_201710.parquet
/ymdse_cd_201711.parquet
/ymdse_cd_201712.parquet
/ymdse_cd_201801.parquet
/ymdse_cd_201802.parquet
/ymdse_cd_201803.parquet
/ymdse_cd_201804.parquet
/ymdse_cd_201805.parquet
/ymdse_cd_201806.parquet
/ymdse_cd_201807.parquet
/ymdse_cd_201808.parquet
/ymdse_cd_201809.parquet
/ymdse_cd_201810.parquet
/ymdse_cd_201811.parquet
/ymdse_cd_201812.parquet
/ymdse_cd_201901.parquet
/ymdse_cd_201902.parquet
/ymdse_cd_201903.parquet
/ymdse_cd_201904.parquet
/ymdse_cd_201905.parquet
/ymdse_cd_201906.parquet
/ymdse_cd_201907.parquet
/ymdse_cd_201908.parquet
/ymdse_cd_201909.parquet
/ymdse_cd_201910.parquet
/ymdse_cd_201911.parquet
/ymdse_cd_201912.parquet
/ymdse_cd_202001.parquet
/ymdse_cd_202002.parquet
/ymdse_cd_202003.parquet
/ymdse_cd_202004.parquet
/ymdse_cd_202005.parquet
/ymdse_cd_202006.parquet
/ymdse_cd_202007.parquet
/ymdse_cd_202008.parquet
/ymdse_cd_202009.parquet
/ymdse_cd_202010.parquet
/ymdse_cd_202011.parquet
/ymdse_cd_202012.parquet
/ymdse_cd_202101.parquet
/ymdse_cd_202102.parquet
/ymdse_cd_202103.parquet
/ymdse_cd_202104.parquet
/ymdse_cd_202105.parquet
/ymdse_cd_202106.parquet
/ymdse_cd_202107.parquet
/ymdse_cd_202108.parquet
/ymdse_cd_202109.parquet
/ymdse_cd_202110.parquet
/ymdse_cd_202111.parquet
/ymdse_cd_202112.parquet
/ymdse_cd_202201.parquet
/ymdse_cd_202202.parquet
/ymdse_cd_202203.parquet
/ymdse_cd_202204.parquet
/ymdse_cd_202205.parquet
/ymdse_cd_202206.parquet
/ymdse_cd_202207.parquet
/ymdse_cd_202208.parquet
/ymdse_cd_202209.parquet
/ymdse_cd_202210.parquet
/ymdse_cd_202211.parquet
/ymdse_cd_202212.parquet
/ymdse_cd_202301.parquet
/ymdse_cd_202302.parquet
/ymdse_cd_202303.parquet
/ymdse_cd_202304.parquet
/ymdse_cd_202305.parquet
/ymdse_cd_202306.parquet
/ymdse_cd_202307.parquet
