.container {
    padding: 0;
    margin: auto;
    max-width: 50em;
}

.row {
    width: 100%;
    z-index: 1;
}

.button {
    font-size: 1em;
    margin-left: 1em;
    padding: 0 0.5em;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    padding: 2rem 0;
    margin: 0 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main :is(p,li) > a {
    text-decoration: underline;
}
.main hr {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.5)
}

.titleContainer {
    text-align: center;
}
.title {
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.1em;
}
.subtitle {
    font-size: 1.2em;
    margin-bottom: 0.1em;
}

.controls {
    width: 100%;
    margin-top: -2.8em;
}
.controls > summary {
    margin-bottom: 0.3em;
}
.settingsGear {
    /*font-weight: bold;*/
    font-size: 1.7em;
    vertical-align: middle;
}

.plotSection hr {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.plotChildren {
    margin-top: 0.5em;
}

.plotChildren.mid {
    max-width: 30em;
    margin-top: 0.8em;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.warning {
    width: 1.3rem;
    position: relative;
    top: -0.2rem;
    margin-left: 0.3rem;
}

.tooltip {
    text-align: center;
    z-index: 1;
}

.dateControls {
    margin-bottom: 0.5em;
    max-width: 6em;
}
#date-range {
    margin-top: 0.7em;
    margin-bottom: 1.3em;
}
.dateRangeButton {
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    width: 2.3em;
}
.activeButton {
    font-weight: bold;
}
.inactiveButton {
    font-weight: normal;
}

.plotly {
    width: 100%;
}

.footer {
    margin-top: 1em;
}
.footer img.icon {
    width: 2em;
    margin-right: 0.5rem;
}
