/JC-202301-citibike-tripdata.csv.gz
/JC-202302-citibike-tripdata.csv.gz
/JC-202303-citibike-tripdata.csv.gz
/JC-202304-citibike-tripdata.csv.gz
/JC-202305-citibike-tripdata.csv.gz
/JC-202306-citibike-tripdata.csv.gz
/JC-202307-citibike-tripdata.csv.gz
/JC-202308-citibike-tripdata.csv.gz
/JC-202309-citibike-tripdata.csv.gz
/202301-citibike-tripdata.csv.gz
/202302-citibike-tripdata.csv.gz
/202303-citibike-tripdata.csv.gz
/202304-citibike-tripdata.csv.gz
/202305-citibike-tripdata.csv.gz
/202306-citibike-tripdata.csv.gz
/202307-citibike-tripdata.csv.gz
/202308-citibike-tripdata.csv.gz
/202309-citibike-tripdata.csv.gz
/202201-citibike-tripdata.csv.gz
/202202-citibike-tripdata.csv.gz
/202203-citibike-tripdata.csv.gz
/202204-citibike-tripdata.csv.gz
/202205-citibike-tripdata.csv.gz
/202206-citibike-tripdata.csv.gz
/202207-citibike-tripdata.csv.gz
/202208-citibike-tripdata.csv.gz
/202209-citibike-tripdata.csv.gz
/202210-citibike-tripdata.csv.gz
/202211-citibike-tripdata.csv.gz
/202212-citibike-tripdata.csv.gz
/JC-202201-citibike-tripdata.csv.gz
/JC-202202-citibike-tripdata.csv.gz
/JC-202203-citibike-tripdata.csv.gz
/JC-202204-citibike-tripdata.csv.gz
/JC-202205-citibike-tripdata.csv.gz
/JC-202206-citibike-tripdata.csv.gz
/JC-202207-citibike-tripdata.csv.gz
/JC-202208-citibike-tripdata.csv.gz
/JC-202209-citibike-tripdata.csv.gz
/JC-202210-citibike-tripdata.csv.gz
/JC-202211-citibike-tripdata.csv.gz
/JC-202212-citibike-tripdata.csv.gz
/202101-citibike-tripdata.csv.gz
/202102-citibike-tripdata.csv.gz
/202103-citibike-tripdata.csv.gz
/202104-citibike-tripdata.csv.gz
/202105-citibike-tripdata.csv.gz
/202106-citibike-tripdata.csv.gz
/202107-citibike-tripdata.csv.gz
/202108-citibike-tripdata.csv.gz
/202109-citibike-tripdata.csv.gz
/202110-citibike-tripdata.csv.gz
/202111-citibike-tripdata.csv.gz
/202112-citibike-tripdata.csv.gz
/JC-202101-citibike-tripdata.csv.gz
/JC-202102-citibike-tripdata.csv.gz
/JC-202103-citibike-tripdata.csv.gz
/JC-202104-citibike-tripdata.csv.gz
/JC-202105-citibike-tripdata.csv.gz
/JC-202106-citibike-tripdata.csv.gz
/JC-202107-citibike-tripdata.csv.gz
/JC-202108-citibike-tripdata.csv.gz
/JC-202109-citibike-tripdata.csv.gz
/JC-202110-citibike-tripdata.csv.gz
/JC-202111-citibike-tripdata.csv.gz
/JC-202112-citibike-tripdata.csv.gz
/201701-citibike-tripdata.csv.gz
/201702-citibike-tripdata.csv.gz
/201703-citibike-tripdata.csv.gz
/201704-citibike-tripdata.csv.gz
/201705-citibike-tripdata.csv.gz
/201706-citibike-tripdata.csv.gz
/201707-citibike-tripdata.csv.gz
/201708-citibike-tripdata.csv.gz
/201709-citibike-tripdata.csv.gz
/201710-citibike-tripdata.csv.gz
/201711-citibike-tripdata.csv.gz
/201712-citibike-tripdata.csv.gz
/201801-citibike-tripdata.csv.gz
/201802-citibike-tripdata.csv.gz
/201803-citibike-tripdata.csv.gz
/201804-citibike-tripdata.csv.gz
/201805-citibike-tripdata.csv.gz
/201806-citibike-tripdata.csv.gz
/201807-citibike-tripdata.csv.gz
/201808-citibike-tripdata.csv.gz
/201809-citibike-tripdata.csv.gz
/201810-citibike-tripdata.csv.gz
/201811-citibike-tripdata.csv.gz
/201812-citibike-tripdata.csv.gz
/201901-citibike-tripdata.csv.gz
/201902-citibike-tripdata.csv.gz
/201903-citibike-tripdata.csv.gz
/201904-citibike-tripdata.csv.gz
/201905-citibike-tripdata.csv.gz
/201906-citibike-tripdata.csv.gz
/201907-citibike-tripdata.csv.gz
/201908-citibike-tripdata.csv.gz
/201909-citibike-tripdata.csv.gz
/201910-citibike-tripdata.csv.gz
/201911-citibike-tripdata.csv.gz
/201912-citibike-tripdata.csv.gz
/202001-citibike-tripdata.csv.gz
/202002-citibike-tripdata.csv.gz
/202003-citibike-tripdata.csv.gz
/202004-citibike-tripdata.csv.gz
/202005-citibike-tripdata.csv.gz
/202006-citibike-tripdata.csv.gz
/202007-citibike-tripdata.csv.gz
/202008-citibike-tripdata.csv.gz
/202009-citibike-tripdata.csv.gz
/202010-citibike-tripdata.csv.gz
/202011-citibike-tripdata.csv.gz
/202012-citibike-tripdata.csv.gz
/JC-201701-citibike-tripdata.csv.gz
/JC-201702-citibike-tripdata.csv.gz
/JC-201703-citibike-tripdata.csv.gz
/JC-201704-citibike-tripdata.csv.gz
/JC-201705-citibike-tripdata.csv.gz
/JC-201706-citibike-tripdata.csv.gz
/JC-201707-citibike-tripdata.csv.gz
/JC-201708-citibike-tripdata.csv.gz
/JC-201709-citibike-tripdata.csv.gz
/JC-201710-citibike-tripdata.csv.gz
/JC-201711-citibike-tripdata.csv.gz
/JC-201712-citibike-tripdata.csv.gz
/JC-201801-citibike-tripdata.csv.gz
/JC-201802-citibike-tripdata.csv.gz
/JC-201803-citibike-tripdata.csv.gz
/JC-201804-citibike-tripdata.csv.gz
/JC-201805-citibike-tripdata.csv.gz
/JC-201806-citibike-tripdata.csv.gz
/JC-201807-citibike-tripdata.csv.gz
/JC-201808-citibike-tripdata.csv.gz
/JC-201809-citibike-tripdata.csv.gz
/JC-201810-citibike-tripdata.csv.gz
/JC-201811-citibike-tripdata.csv.gz
/JC-201812-citibike-tripdata.csv.gz
/JC-201901-citibike-tripdata.csv.gz
/JC-201902-citibike-tripdata.csv.gz
/JC-201903-citibike-tripdata.csv.gz
/JC-201904-citibike-tripdata.csv.gz
/JC-201905-citibike-tripdata.csv.gz
/JC-201906-citibike-tripdata.csv.gz
/JC-201907-citibike-tripdata.csv.gz
/JC-201908-citibike-tripdata.csv.gz
/JC-201909-citibike-tripdata.csv.gz
/JC-201910-citibike-tripdata.csv.gz
/JC-201911-citibike-tripdata.csv.gz
/JC-201912-citibike-tripdata.csv.gz
/JC-202001-citibike-tripdata.csv.gz
/JC-202002-citibike-tripdata.csv.gz
/JC-202003-citibike-tripdata.csv.gz
/JC-202004-citibike-tripdata.csv.gz
/JC-202005-citibike-tripdata.csv.gz
/JC-202006-citibike-tripdata.csv.gz
/JC-202007-citibike-tripdata.csv.gz
/JC-202008-citibike-tripdata.csv.gz
/JC-202009-citibike-tripdata.csv.gz
/JC-202010-citibike-tripdata.csv.gz
/JC-202011-citibike-tripdata.csv.gz
/JC-202012-citibike-tripdata.csv.gz
/201306-citibike-tripdata.csv.gz
/201307-citibike-tripdata.csv.gz
/201308-citibike-tripdata.csv.gz
/201309-citibike-tripdata.csv.gz
/201310-citibike-tripdata.csv.gz
/201311-citibike-tripdata.csv.gz
/201312-citibike-tripdata.csv.gz
/201401-citibike-tripdata.csv.gz
/201402-citibike-tripdata.csv.gz
/201403-citibike-tripdata.csv.gz
/201404-citibike-tripdata.csv.gz
/201405-citibike-tripdata.csv.gz
/201406-citibike-tripdata.csv.gz
/201407-citibike-tripdata.csv.gz
/201408-citibike-tripdata.csv.gz
/201409-citibike-tripdata.csv.gz
/201410-citibike-tripdata.csv.gz
/201411-citibike-tripdata.csv.gz
/201412-citibike-tripdata.csv.gz
/201501-citibike-tripdata.csv.gz
/201502-citibike-tripdata.csv.gz
/201503-citibike-tripdata.csv.gz
/201504-citibike-tripdata.csv.gz
/201505-citibike-tripdata.csv.gz
/201506-citibike-tripdata.csv.gz
/201507-citibike-tripdata.csv.gz
/201508-citibike-tripdata.csv.gz
/201509-citibike-tripdata.csv.gz
/201510-citibike-tripdata.csv.gz
/201511-citibike-tripdata.csv.gz
/201512-citibike-tripdata.csv.gz
/201601-citibike-tripdata.csv.gz
/201602-citibike-tripdata.csv.gz
/201603-citibike-tripdata.csv.gz
/201604-citibike-tripdata.csv.gz
/201605-citibike-tripdata.csv.gz
/201606-citibike-tripdata.csv.gz
/201607-citibike-tripdata.csv.gz
/201608-citibike-tripdata.csv.gz
/201609-citibike-tripdata.csv.gz
/201610-citibike-tripdata.csv.gz
/201611-citibike-tripdata.csv.gz
/201612-citibike-tripdata.csv.gz
/JC-201509-citibike-tripdata.csv.gz
/JC-201510-citibike-tripdata.csv.gz
/JC-201511-citibike-tripdata.csv.gz
/JC-201512-citibike-tripdata.csv.gz
/JC-201601-citibike-tripdata.csv.gz
/JC-201602-citibike-tripdata.csv.gz
/JC-201603-citibike-tripdata.csv.gz
/JC-201604-citibike-tripdata.csv.gz
/JC-201605-citibike-tripdata.csv.gz
/JC-201606-citibike-tripdata.csv.gz
/JC-201607-citibike-tripdata.csv.gz
/JC-201608-citibike-tripdata.csv.gz
/JC-201609-citibike-tripdata.csv.gz
/JC-201610-citibike-tripdata.csv.gz
/JC-201611-citibike-tripdata.csv.gz
/JC-201612-citibike-tripdata.csv.gz
