/JC-202301-citibike-tripdata.csv
/JC-202301-citibike-tripdata.csv.gz
/JC-202302-citibike-tripdata.csv.gz
/JC-202303-citibike-tripdata.csv.gz
/JC-202304-citibike-tripdata.csv.gz
/JC-202305-citibike-tripdata.csv.gz
/JC-202306-citibike-tripdata.csv.gz
/JC-202307-citibike-tripdata.csv.gz
/JC-202308-citibike-tripdata.csv.gz
/JC-202309-citibike-tripdata.csv.gz
/202301-citibike-tripdata.csv.gz
/202302-citibike-tripdata.csv.gz
/202303-citibike-tripdata.csv.gz
/202304-citibike-tripdata.csv.gz
/202305-citibike-tripdata.csv.gz
/202306-citibike-tripdata.csv.gz
/202307-citibike-tripdata.csv.gz
/202308-citibike-tripdata.csv.gz
/202309-citibike-tripdata.csv.gz
/202201-citibike-tripdata.csv.gz
/202202-citibike-tripdata.csv.gz
/202203-citibike-tripdata.csv.gz
/202204-citibike-tripdata.csv.gz
/202205-citibike-tripdata.csv.gz
/202206-citibike-tripdata.csv.gz
/202207-citibike-tripdata.csv.gz
/202208-citibike-tripdata.csv.gz
/202209-citibike-tripdata.csv.gz
/202210-citibike-tripdata.csv.gz
/202211-citibike-tripdata.csv.gz
/202212-citibike-tripdata.csv.gz
/JC-202201-citibike-tripdata.csv.gz
/JC-202202-citibike-tripdata.csv.gz
/JC-202203-citibike-tripdata.csv.gz
/JC-202204-citibike-tripdata.csv.gz
/JC-202205-citibike-tripdata.csv.gz
/JC-202206-citibike-tripdata.csv.gz
/JC-202207-citibike-tripdata.csv.gz
/JC-202208-citibike-tripdata.csv.gz
/JC-202209-citibike-tripdata.csv.gz
/JC-202210-citibike-tripdata.csv.gz
/JC-202211-citibike-tripdata.csv.gz
/JC-202212-citibike-tripdata.csv.gz
